In [15]:
import pandas as pd
import numpy as np
import os 
import plotly.express as px
from datetime import timedelta

In [2]:
def extract_yearly_highs_lows(file_path, drop_na=True):
    # Load the CSV file
    data = pd.read_csv(file_path)
    # Initialize a dictionary to store the results
    yearly_stats = {}
    # Extract the range of years from the columns
    years = range(2004, 2025)
    # Iterate through each year
    for year in years:
        date_col = f'Timestamp.{year}'
        price_col = str(year)
        # Check if the expected columns are present
        if date_col in data.columns and price_col in data.columns:
            # Handle missing values in the timestamps
            if drop_na:
                year_data = data[[date_col, price_col]].dropna()
            else:
                year_data = data[[date_col, price_col]].fillna({date_col: 0}).dropna(subset=[price_col])
            if not year_data.empty:
                
                data_df = {
                    'Date': year_data[date_col],
                    'Price': year_data[price_col]
                }
                data_df = pd.DataFrame(data_df)
                base_path = "/workspaces/Futures-First/Prediction/data"
                file_name = f"{year}.csv"
                full_path = os.path.join(base_path, file_name)

                # Save DataFrame to CSV
                data_df.to_csv(full_path, index=False)
                # print(year_data[price_col])
        else:
            print(f"Columns for the year {year} are missing in the data")
    return data_df

In [ ]:
df = extract_yearly_highs_lows('/workspaces/Futures-First/data/W_U24-Z24.csv')
df

In [ ]:
df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB_nov-jan/2024.csv')
df

In [21]:
# df = df.rename(columns={'SBX24-F25.OPEN':'OPEN','SBX24-F25.HIGH':'HIGH','SBX24-F25.LOW':'LOW','SBX24-F25.CLOSE':'CLOSE'})
df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB Nov-Jan/SB Nov-Jan.csv')
df

,ZSX24-F25,Open,High,Low,Last,Unnamed: 5,ZSX23-F24,Open.1,High.1,Low.1,...,Open.9,High.9,Low.9,Last.9,Unnamed: 59,ZSX14-F15,Open.10,High.10,Low.10,Last.10
0,14-Nov-22,NaN,NaN,NaN,-1.75,NaN,23-Dec-21,4.00,4.00,4.00,...,NaN,NaN,NaN,-0.25,NaN,14-Nov-12,NaN,NaN,NaN,6.25
1,15-Nov-22,NaN,NaN,NaN,-1.75,NaN,11-Jan-22,2.75,2.75,2.75,...,-1.25,-1.25,-1.25,-1.25,NaN,15-Nov-12,NaN,NaN,NaN,6.25
2,16-Nov-22,NaN,NaN,NaN,-1.75,NaN,27-Jan-22,2.00,2.00,NaN,...,NaN,NaN,-1.75,-1.75,NaN,16-Nov-12,NaN,NaN,NaN,6.25
3,17-Nov-22,NaN,NaN,NaN,-1.75,NaN,28-Jan-22,NaN,NaN,NaN,...,NaN,NaN,-2.00,-2.00,NaN,19-Nov-12,NaN,NaN,NaN,6.25
4,18-Nov-22,NaN,NaN,NaN,-1.75,NaN,31-Jan-22,NaN,NaN,NaN,...,NaN,NaN,NaN,-2.00,NaN,20-Nov-12,NaN,NaN,NaN,6.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.00,10.00,6.00,7.75,NaN,10-Nov-14,2.75,4.00,NaN,1.75
501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.75,10.25,5.00,6.25,NaN,11-Nov-14,2.50,3.00,1.25,2.50
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.00,7.00,NaN,NaN,NaN,12-Nov-14,2.25,2.50,-1.25,0.50
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13-Nov-14,NaN,0.25,-7.25,-3.00
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14-Nov-14,-4.50,-2.00,-8.50,-8.50

In [23]:
temp = df.iloc[:,0:5].dropna()
temp.columns = ['Date', 'Open','High','Low','Close']
temp.to_csv('/workspaces/Futures-First/Prediction/data/SB Nov-Jan/2024.csv',index=False)

In [25]:
ls = ['2023','2022','2021','2020','2019','2018','2017','2016','2015','2014']
j = 6
for i in ls:
    
    temp = df.iloc[:,j:j+5].dropna()
    j = j+6
    temp.columns = ['Date', 'Open','High','Low','Close']

    # Convert the 'Date' column to datetime format
    temp['Date'] = pd.to_datetime(temp['Date'])
    
    # Find the last date in the temp DataFrame
    last_date = temp['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    temp = temp[temp['Date'] >= one_year_ago]

    temp.to_csv('/workspaces/Futures-First/Prediction/data/SB Nov-Jan/'+i+'.csv',index=False)
    print(temp)

/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])
/tmp/ipykernel_17298/3156467777.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp['Date'] = pd.to_datetime(temp['Date'])

          Date   Open   High    Low  Close
201 2022-11-14  -2.00  -1.50  -2.25  -1.75
202 2022-11-15  -1.75  -1.75  -2.25  -2.00
203 2022-11-16  -2.25  -1.75  -2.25  -2.00
204 2022-11-17  -2.25  -2.00  -2.50  -2.25
205 2022-11-18  -2.00  -2.00  -2.25  -2.00
..         ...    ...    ...    ...    ...
447 2023-11-07 -23.25 -10.75 -23.25 -13.25
448 2023-11-08 -15.50 -13.00 -16.75 -16.75
449 2023-11-09 -14.25 -14.25 -17.50 -15.75
450 2023-11-10 -13.25 -13.00 -15.25 -14.00
451 2023-11-13 -16.25 -13.00 -18.25 -14.50

[248 rows x 5 columns]
          Date   Open   High    Low  Close
247 2021-11-11  -1.50  -1.00  -1.50  -1.25
248 2021-11-12  -1.00   0.50  -1.25   0.25
249 2021-11-15   0.25   0.50  -0.50  -0.25
251 2021-11-17  -0.50   0.75  -0.50   0.50
252 2021-11-18   0.75   1.00   0.25   0.50
..         ...    ...    ...    ...    ...
494 2022-11-04 -10.75  -9.75 -11.00 -10.75
495 2022-11-07  -9.50  -9.25 -11.75 -10.25
496 2022-11-08 -10.50  -1.50 -10.50  -2.50
498 2022-11-10   8.00  10.75   6.75   7.50
499 2022-11-11  13.00  13.25   3.50   5.50

[226 rows x 5 columns]
          Date   Open   High    Low  Close
204 2020-11-11   4.00   4.25   3.00   3.50
205 2020-11-12   3.00   3.25   2.25   2.75
206 2020-11-13   2.50   3.50   2.50   2.75
207 2020-11-16   2.75   3.00   1.75   2.00
208 2020-11-17   2.00   2.50   1.75   1.75
..         ...    ...    ...    ...    ...
452 2021-11-05 -13.75 -12.00 -14.00 -13.25
453 2021-11-08 -12.75 -10.00 -13.50 -10.50
454 2021-11-09 -10.25 -10.00 -13.50 -12.50
455 2021-11-10 -12.25 -11.50 -14.50 -13.25
456 2021-11-11 -11.75  -6.00 -13.75  -9.25

[243 rows x 5 columns]
          Date   Open  High    Low  Close
242 2019-11-13  -3.75 -3.25  -4.25  -3.75
243 2019-11-14  -3.75 -3.50  -4.25  -3.50
244 2019-11-15  -3.50 -3.25  -3.75  -4.00
245 2019-11-18  -3.50 -3.25  -4.50  -4.00
246 2019-11-19  -3.75 -3.00  -3.75  -3.25
..         ...    ...   ...    ...    ...
490 2020-11-06  -1.00 -0.75  -4.50  -3.00
491 2020-11-09  -3.00 -3.00 -10.25  -5.50
492 2020-11-10  -6.50 -5.50 -11.50  -7.75
493 2020-11-11  -9.75 -7.50 -13.75  -9.25
494 2020-11-12 -10.50 -8.00 -10.50  -8.50

[249 rows x 5 columns]
          Date   Open   High    Low  Close
236 2018-11-13 -10.75 -10.25 -10.75 -10.75
237 2018-11-14 -11.00 -10.75 -11.00 -10.75
238 2018-11-15 -10.75 -10.25 -11.00 -10.50
239 2018-11-16 -10.00 -10.00 -10.25 -10.25
240 2018-11-19 -10.00 -10.00 -10.75 -10.50
..         ...    ...    ...    ...    ...
484 2019-11-07 -12.25 -11.00 -12.50 -11.50
485 2019-11-08 -11.00  -9.50 -12.00 -11.50
486 2019-11-11 -12.00 -10.50 -12.50 -12.00
487 2019-11-12 -11.75  -9.50 -13.00 -11.25
488 2019-11-13 -11.25 -10.00 -13.75 -12.75

[253 rows x 5 columns]
          Date   Open   High    Low  Close
245 2017-11-13  -6.00  -5.50  -6.50  -6.50
246 2017-11-14  -6.00  -6.00  -6.25  -6.25
247 2017-11-15  -6.00  -5.75  -6.00  -6.00
248 2017-11-16  -6.25  -6.25  -6.25  -6.00
249 2017-11-17  -6.25  -5.75  -6.25  -6.00
..         ...    ...    ...    ...    ...
493 2018-11-07 -12.25 -11.75 -12.25 -11.75
494 2018-11-08 -12.00 -11.50 -12.00 -11.50
495 2018-11-09 -11.50 -11.50 -11.75 -11.50
496 2018-11-12 -11.50 -11.25 -11.75 -11.50
497 2018-11-13 -11.25  -9.75 -12.25 -11.00

[252 rows x 5 columns]
          Date   Open   High    Low  Close
234 2016-11-14  -1.50  -0.75  -1.75  -1.50
235 2016-11-15  -1.00  -0.75  -1.25  -1.00
236 2016-11-16  -0.75  -0.75  -1.25  -1.25
237 2016-11-17  -1.00  -1.00  -2.25  -1.75
238 2016-11-18  -1.75  -0.75  -2.00  -0.75
..         ...    ...    ...    ...    ...
481 2017-11-07 -10.00  -9.75 -10.25 -10.00
482 2017-11-08 -10.75 -10.50 -11.00 -10.50
483 2017-11-09 -10.50  -9.75 -10.50  -9.75
484 2017-11-10  -9.75  -9.50 -10.25  -9.75
485 2017-11-13 -10.00 -10.00 -11.00 -10.75

[249 rows x 5 columns]
          Date  Open  High   Low  Close
242 2015-11-12 -5.75 -5.75 -6.00  -6.00
243 2015-11-13 -6.00 -5.75 -6.00  -6.00
244 2015-11-16 -5.75 -5.75 -6.00  -5.75
245 2015-11-17 -5.75 -5.75 -5.75  -5.75
246 2015-11-18 -6.00 -5.75 -6.00  -6.00
..         ...   ...   ...   ...    ...
490 2016-11-07 -9.00 -8.75 -9.50  -9.25
491 2016-11-08 -9.00 -9.00 -9.75  -9.50
492 2016-11-09 -9.50 -8.75 -9.75  -9.00
493 2016-11-10 -8.75 -8.75 -9.50  -9.00
494 2016-11-11 -9.00 -7.50 -9.25  -7.50

[237 rows x 5 columns]
          Date  Open   High   Low  Close
248 2014-11-12 -5.50  -5.00 -5.75  -5.75
249 2014-11-13 -5.25  -5.00 -5.75  -5.25
250 2014-11-14 -5.25  -5.00 -5.50  -5.50
251 2014-11-17 -5.50  -5.25 -5.50  -5.50
252 2014-11-18 -5.50  -5.25 -5.50  -5.50
..         ...   ...    ...   ...    ...
497 2015-11-06  3.25   5.50  2.25   4.00
498 2015-11-09  4.50   7.50  4.25   7.25
499 2015-11-10  7.50   9.00  6.50   9.00
500 2015-11-11  9.00  10.00  6.00   7.75
501 2015-11-12  9.75  10.25  5.00   6.25

[251 rows x 5 columns]
          Date  Open  High   Low  Close
252 2013-11-14 -6.00 -6.00 -6.50  -6.00
253 2013-11-15 -6.25 -6.00 -6.50  -6.50
254 2013-11-18 -6.25 -5.00 -6.25  -5.75
255 2013-11-19 -5.75 -5.00 -5.75  -5.00
256 2013-11-20 -4.75 -4.25 -5.00  -4.25
..         ...   ...   ...   ...    ...
498 2014-11-06  1.00  4.75 -0.75   2.50
499 2014-11-07  2.50  3.75  2.25   3.50
501 2014-11-11  2.50  3.00  1.25   2.50
502 2014-11-12  2.25  2.50 -1.25   0.50
504 2014-11-14 -4.50 -2.00 -8.50  -8.50

[250 rows x 5 columns]

In [37]:
temp = df.iloc[:,6:11].dropna()
temp = temp.rename(columns={'ZSF24-H24':'Date'})
temp.to_csv('/workspaces/Futures-First/Prediction/data/SB Jan-Mar/'++'.csv',index=False)

          Date  Open.1  High.1  Low.1  Last.1
38    8-Apr-22    5.75    6.00   5.75    7.50
41   13-Apr-22    6.00    6.00   6.00    6.75
58    9-May-22    6.00    6.00   6.00    7.25
64   17-May-22    8.00    8.00   8.00   10.75
81   10-Jun-22   13.25   13.25  13.25   12.00
..         ...     ...     ...    ...     ...
475   5-Jan-24   -4.75   -4.50  -6.75   -6.50
476   8-Jan-24   -5.00   -5.00  -8.00   -6.00
477   9-Jan-24   -7.25   -5.50  -8.00   -7.00
478  10-Jan-24   -8.00   -5.50  -8.00   -7.75
479  11-Jan-24   -8.00   -5.00  -8.00   -5.25

[360 rows x 5 columns]

In [40]:
temp['Date'] = pd.to_datetime(temp['Date'])
temp = temp.sort_values(by='Date')
temp

          Date  Open.1  High.1  Low.1  Last.1
38  2022-04-08    5.75    6.00   5.75    7.50
41  2022-04-13    6.00    6.00   6.00    6.75
58  2022-05-09    6.00    6.00   6.00    7.25
64  2022-05-17    8.00    8.00   8.00   10.75
81  2022-06-10   13.25   13.25  13.25   12.00
..         ...     ...     ...    ...     ...
475 2024-01-05   -4.75   -4.50  -6.75   -6.50
476 2024-01-08   -5.00   -5.00  -8.00   -6.00
477 2024-01-09   -7.25   -5.50  -8.00   -7.00
478 2024-01-10   -8.00   -5.50  -8.00   -7.75
479 2024-01-11   -8.00   -5.00  -8.00   -5.25

[360 rows x 5 columns]

In [39]:
temp.to_csv('/workspaces/Futures-First/Prediction/data/SB Jan-Mar/2023.csv',index=False)