In [1]:
import pandas as pd
import numpy as np
import os 
import plotly.express as px
from datetime import timedelta
import openpyxl

In [2]:
# Convert excel sheets to csv
excel_file = '/workspaces/Futures-First/Prediction/LSTM/data/Copper/Copper Data.xlsx'

# Read all sheet names
sheets = pd.read_excel(excel_file, sheet_name=None)

# Loop through each sheet and save as CSV
for sheet_name, data in sheets.items():
    # Define the name of the CSV file
    csv_file = f'/workspaces/Futures-First/Prediction/LSTM/data/Copper/data/{sheet_name}.csv'
    
    # Save the sheet to a CSV file
    data.to_csv(csv_file, index=False)

In [64]:
df = pd.read_csv('/workspaces/Futures-First/Prediction/LSTM/data/Copper/data/Nov-Dec.csv')
# df = pd.read_excel('/workspaces/Futures-First/Prediction/data/ZC May-Jul/ZC May-Jul.xlsx')
df

,2024,Open,High,Low,Last,Unnamed: 5,2023,Open.1,High.1,Low.1,...,Open.7,High.7,Low.7,Close.2,Unnamed: 47,Timestamp (UTC).3,Open.8,High.8,Low.8,Close.3
0,2022-11-29,NaN,NaN,NaN,-0.0020,NaN,2021-11-29,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,NaN,2015-05-28,-0.0045,-0.0045,-0.0045,-0.0045
1,2022-11-30,NaN,NaN,NaN,0.0005,NaN,2021-11-30,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,NaN,2015-06-16,0.0005,0.0005,-0.0045,-0.0045
2,2022-12-01,NaN,NaN,NaN,0.0010,NaN,2021-12-01,NaN,NaN,NaN,...,0.0005,0.0005,0.0005,0.0005,NaN,2015-06-22,-0.0005,-0.0005,-0.0015,-0.0015
3,2022-12-02,NaN,NaN,NaN,0.0010,NaN,2021-12-02,NaN,NaN,NaN,...,0.0005,0.0005,0.0005,0.0005,NaN,2015-06-23,-0.0020,-0.0020,-0.0020,-0.0020
4,2022-12-05,NaN,NaN,NaN,0.0010,NaN,2021-12-03,NaN,NaN,NaN,...,0.0020,0.0020,0.0020,0.0020,NaN,2015-06-24,-0.0040,-0.0040,-0.0040,-0.0040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-22,0.0005,0.0060,0.0005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-24,0.0055,0.0085,0.0030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-27,0.0035,0.0085,0.0035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-28,0.0025,0.0075,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
x = '/workspaces/Futures-First/Prediction/LSTM/data/Copper/HG Nov-Dec'

In [67]:
temp = df.iloc[:,0:5].dropna()
temp.columns = ['Date', 'Open','High','Low','Close']
temp.to_csv(x+'/2024.csv',index=False)

In [68]:
ls = ['2023','2022','2021','2020','2019','2018','2017','2016']
j = 6
for i in ls:
    
    temp = df.iloc[:,j:j+5].dropna()
    j = j+6
    temp.columns = ['Date', 'Open','High','Low','Close']

    # Convert the 'Date' column to datetime format
    temp['Date'] = pd.to_datetime(temp['Date'])
    
    # Find the last date in the temp DataFrame
    last_date = temp['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    temp = temp[temp['Date'] >= one_year_ago]

    temp.to_csv(x+'/'+i+'.csv',index=False)
    print(temp)

          Date    Open    High     Low   Close
258 2022-12-07  0.0120  0.0120  0.0070  0.0095
259 2022-12-08  0.0090  0.0105  0.0090  0.0105
260 2022-12-09  0.0085  0.0085  0.0070  0.0080
265 2022-12-16  0.0070  0.0070  0.0060  0.0065
268 2022-12-21  0.0110  0.0110  0.0110  0.0115
..         ...     ...     ...     ...     ...
497 2023-11-20 -0.0010 -0.0010 -0.0025 -0.0015
498 2023-11-21 -0.0025  0.0045 -0.0030  0.0020
499 2023-11-22  0.0005  0.0060  0.0005  0.0035
500 2023-11-24  0.0055  0.0085  0.0030  0.0075
501 2023-11-27  0.0035  0.0085  0.0035  0.0045

[186 rows x 5 columns]
          Date    Open    High     Low   Close
251 2021-11-26  0.0085  0.0085  0.0085  0.0095
255 2021-12-02  0.0150  0.0150  0.0095  0.0115
256 2021-12-03  0.0135  0.0135  0.0135  0.0100
265 2021-12-16  0.0125  0.0125  0.0125  0.0115
267 2021-12-20  0.0125  0.0125  0.0125  0.0135
..         ...     ...     ...     ...     ...
495 2022-11-15  0.0165  0.0205  0.0115  0.0195
496 2022-11-16  0.0150  0.0175  0.0085  0.0145
497 2022-11-17  0.0075  0.0075 -0.0010  0.0015
498 2022-11-18  0.0005  0.0005 -0.0045  0.0000
502 2022-11-25 -0.0010 -0.0010 -0.0025 -0.0010

[182 rows x 5 columns]
          Date    Open    High     Low   Close
251 2020-12-07  0.0020  0.0025  0.0020  0.0025
261 2020-12-21  0.0040  0.0040  0.0035  0.0020
266 2020-12-29  0.0015  0.0015  0.0015  0.0030
268 2020-12-31  0.0030  0.0030  0.0030  0.0025
269 2021-01-04  0.0015  0.0015  0.0015  0.0025
..         ...     ...     ...     ...     ...
489 2021-11-16  0.0050  0.0070  0.0050  0.0070
490 2021-11-17  0.0060  0.0070  0.0050  0.0070
491 2021-11-18  0.0050  0.0055  0.0030  0.0055
492 2021-11-19  0.0045  0.0045 -0.0005  0.0010
493 2021-11-22  0.0020  0.0020 -0.0015 -0.0010

[175 rows x 5 columns]
          Date    Open    High     Low   Close
251 2019-11-27 -0.0005 -0.0005 -0.0005 -0.0005
255 2019-12-04 -0.0010 -0.0010 -0.0010 -0.0010
259 2019-12-10 -0.0010 -0.0010 -0.0010 -0.0010
261 2019-12-12 -0.0005 -0.0005 -0.0005 -0.0010
262 2019-12-13 -0.0005 -0.0005 -0.0005 -0.0005
..         ...     ...     ...     ...     ...
494 2020-11-13 -0.0035 -0.0020 -0.0035 -0.0025
495 2020-11-16 -0.0025 -0.0015 -0.0025 -0.0020
496 2020-11-17 -0.0020 -0.0015 -0.0025 -0.0015
499 2020-11-20  0.0010  0.0035  0.0010  0.0025
500 2020-11-23  0.0025  0.0025 -0.0010  0.0015

[201 rows x 5 columns]
          Date    Open    High     Low   Close
61  2018-11-26  0.0035  0.0035  0.0035  0.0035
62  2018-11-27  0.0025  0.0025  0.0025  0.0025
63  2018-11-28  0.0030  0.0030  0.0030  0.0030
64  2018-11-29  0.0030  0.0030  0.0030  0.0030
65  2018-11-30  0.0030  0.0030  0.0030  0.0030
..         ...     ...     ...     ...     ...
303 2019-11-20 -0.0035 -0.0030 -0.0040 -0.0035
304 2019-11-21 -0.0030 -0.0025 -0.0035 -0.0030
305 2019-11-22 -0.0030  0.0000 -0.0030  0.0000
306 2019-11-25 -0.0010  0.0000 -0.0010  0.0000
307 2019-11-26 -0.0005  0.0005 -0.0045 -0.0015

[247 rows x 5 columns]
          Date    Open    High     Low   Close
19  2017-11-28 -0.0010 -0.0010 -0.0010 -0.0010
20  2017-11-29 -0.0010 -0.0010 -0.0010 -0.0010
21  2017-12-04 -0.0010 -0.0010 -0.0010 -0.0010
22  2017-12-05 -0.0010 -0.0010 -0.0010 -0.0010
23  2017-12-06 -0.0010 -0.0005 -0.0010 -0.0005
..         ...     ...     ...     ...     ...
236 2018-11-21  0.0000  0.0000 -0.0020 -0.0010
237 2018-11-23  0.0000  0.0040  0.0000  0.0040
238 2018-11-26  0.0035  0.0035  0.0005  0.0020
239 2018-11-27  0.0025  0.0050  0.0025  0.0040
240 2018-11-28  0.0030  0.0050  0.0005  0.0005

[222 rows x 5 columns]
          Date    Open    High     Low   Close
26  2016-11-29 -0.0005 -0.0005 -0.0005 -0.0005
27  2016-11-30 -0.0005 -0.0005 -0.0005 -0.0005
28  2016-12-06 -0.0005 -0.0005 -0.0005 -0.0005
29  2016-12-09 -0.0005 -0.0005 -0.0005 -0.0005
30  2016-12-14 -0.0005 -0.0005 -0.0005 -0.0005
..         ...     ...     ...     ...     ...
204 2017-11-21 -0.0025 -0.0025 -0.0040 -0.0025
205 2017-11-22 -0.0025 -0.0025 -0.0025 -0.0025
206 2017-11-24 -0.0030 -0.0025 -0.0030 -0.0025
207 2017-11-27 -0.0025 -0.0015 -0.0025 -0.0020
208 2017-11-28 -0.0015  0.0000 -0.0015 -0.0010

[183 rows x 5 columns]
          Date    Open    High     Low   Close
37  2015-11-30  0.0015  0.0020  0.0015  0.0020
38  2015-12-02  0.0020  0.0020  0.0020  0.0020
39  2015-12-07  0.0010  0.0015  0.0010  0.0015
40  2015-12-15  0.0005  0.0005  0.0005  0.0005
41  2015-12-16  0.0005  0.0005  0.0005  0.0005
..         ...     ...     ...     ...     ...
208 2016-11-22 -0.0020 -0.0010 -0.0020 -0.0020
209 2016-11-23 -0.0020 -0.0010 -0.0020 -0.0015
210 2016-11-24 -0.0010 -0.0005 -0.0015 -0.0005
211 2016-11-25 -0.0010 -0.0005 -0.0015 -0.0015
212 2016-11-28 -0.0010  0.0005 -0.0020 -0.0005

[176 rows x 5 columns]