In [1]:
import pandas as pd
import numpy as np
import os 
import plotly.express as px
from datetime import timedelta
import openpyxl

In [2]:
def extract_yearly_highs_lows(file_path, drop_na=True):
    # Load the CSV file
    data = pd.read_csv(file_path)
    # Initialize a dictionary to store the results
    yearly_stats = {}
    # Extract the range of years from the columns
    years = range(2004, 2025)
    # Iterate through each year
    for year in years:
        date_col = f'Timestamp.{year}'
        price_col = str(year)
        # Check if the expected columns are present
        if date_col in data.columns and price_col in data.columns:
            # Handle missing values in the timestamps
            if drop_na:
                year_data = data[[date_col, price_col]].dropna()
            else:
                year_data = data[[date_col, price_col]].fillna({date_col: 0}).dropna(subset=[price_col])
            if not year_data.empty:
                
                data_df = {
                    'Date': year_data[date_col],
                    'Price': year_data[price_col]
                }
                data_df = pd.DataFrame(data_df)
                base_path = "/workspaces/Futures-First/Prediction/data"
                file_name = f"{year}.csv"
                full_path = os.path.join(base_path, file_name)

                # Save DataFrame to CSV
                data_df.to_csv(full_path, index=False)
                # print(year_data[price_col])
        else:
            print(f"Columns for the year {year} are missing in the data")
    return data_df

In [ ]:
df = extract_yearly_highs_lows('/workspaces/Futures-First/data/W_U24-Z24.csv')
df

In [ ]:
df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB_nov-jan/2024.csv')
df

In [2]:
# df = df.rename(columns={'SBX24-F25.OPEN':'OPEN','SBX24-F25.HIGH':'HIGH','SBX24-F25.LOW':'LOW','SBX24-F25.CLOSE':'CLOSE'})
# df = pd.read_csv('/workspaces/Futures-First/Prediction/data/SB Nov-Jan/SB Nov-Jan.csv')
df = pd.read_excel('/workspaces/Futures-First/Prediction/data/ZC May-Jul/ZC May-Jul.xlsx')
df

,Timestamp (UTC),Open,High,Low,Close,Unnamed: 5,Timestamp (UTC).1,Open.1,High.1,Low.1,...,Open.8,High.8,Low.8,Close.8,Unnamed: 53,Timestamp (UTC).9,Open.9,High.9,Low.9,Close.9
0,2023-04-17,0.25,0.25,0.25,0.25,NaN,2022-04-04,-2.00,-2.0,-2.00,...,-4.50,-4.25,-4.50,-4.25,NaN,2015-04-15,-5.75,-5.50,-5.75,-5.75
1,2023-04-24,-0.25,-0.25,-0.25,-0.25,NaN,2022-04-08,3.25,3.5,3.25,...,-4.75,-4.75,-4.75,-4.75,NaN,2015-04-16,-6.00,-5.50,-6.00,-6.00
2,2023-04-27,-3.00,-3.00,-3.25,-3.25,NaN,2022-05-11,3.50,3.5,3.50,...,-4.50,-4.50,-4.50,-4.50,NaN,2015-04-17,-5.75,-5.75,-6.00,-6.00
3,2023-05-19,0.00,0.00,0.00,0.00,NaN,2022-05-18,3.00,3.0,3.00,...,-4.75,-4.50,-4.75,-4.50,NaN,2015-04-20,-5.75,-5.75,-6.25,-6.25
4,2023-06-15,-0.25,0.00,-0.25,0.00,NaN,2022-05-24,3.00,3.0,3.00,...,-4.75,-4.75,-5.00,-5.00,NaN,2015-04-21,-6.25,-6.00,-6.50,-6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
453,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
454,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
455,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
456,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [4]:
temp = df.iloc[:,0:5].dropna()
temp.columns = ['Date', 'Open','High','Low','Close']
temp.to_csv('/workspaces/Futures-First/Prediction/data/ZC May-Jul/2025.csv',index=False)

In [5]:
ls = ['2024','2023','2022','2021','2020','2019','2018','2017','2016']
j = 6
for i in ls:
    
    temp = df.iloc[:,j:j+5].dropna()
    j = j+6
    temp.columns = ['Date', 'Open','High','Low','Close']

    # Convert the 'Date' column to datetime format
    temp['Date'] = pd.to_datetime(temp['Date'])
    
    # Find the last date in the temp DataFrame
    last_date = temp['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    temp = temp[temp['Date'] >= one_year_ago]

    temp.to_csv('/workspaces/Futures-First/Prediction/data/ZC May-Jul/'+i+'.csv',index=False)
    print(temp)

          Date   Open   High    Low  Close
169 2023-05-15  -3.75  -3.25  -3.75  -3.25
170 2023-05-16  -3.50  -3.25  -3.75  -3.25
171 2023-05-17  -3.25  -2.75  -3.75  -3.00
172 2023-05-18  -3.00  -2.50  -3.25  -2.75
173 2023-05-19  -2.75  -2.00  -2.75  -2.75
..         ...    ...    ...    ...    ...
415 2024-05-08 -13.75 -12.00 -13.75 -13.00
416 2024-05-09 -14.75 -13.25 -15.50 -14.25
417 2024-05-10 -14.00 -13.50 -14.50 -14.50
418 2024-05-13 -14.25 -12.75 -15.00 -15.00
419 2024-05-14 -13.00 -12.75 -15.75 -12.75

[251 rows x 5 columns]
          Date   Open   High    Low  Close
199 2022-05-11   4.75   5.50   4.75   5.50
200 2022-05-12   5.50   6.75   5.25   6.25
201 2022-05-13   6.50   8.50   6.50   7.75
202 2022-05-16   8.75   8.75   7.00   7.75
203 2022-05-17   7.75   7.75   5.75   7.00
..         ...    ...    ...    ...    ...
446 2023-05-05  55.00  59.00  54.00  57.00
447 2023-05-08  57.00  60.50  52.75  60.00
448 2023-05-09  57.00  61.00  55.75  58.00
449 2023-05-10  57.75  58.00  50.00  51.50
450 2023-05-11  50.00  60.00  47.00  56.75

[252 rows x 5 columns]
          Date   Open   High    Low  Close
196 2021-05-12   4.00   4.25   2.50   2.75
197 2021-05-13   2.75   2.75   1.75   2.25
198 2021-05-14   2.25   2.75   1.25   1.25
199 2021-05-17   1.00   1.75   0.75   0.75
200 2021-05-18   1.00   1.50   0.75   1.00
..         ...    ...    ...    ...    ...
445 2022-05-06   6.25   7.75   6.00   6.25
446 2022-05-09   7.75  12.75   7.75  11.50
447 2022-05-10  12.25  13.00  10.50  11.25
448 2022-05-11  11.25  14.25  11.00  13.25
449 2022-05-12  13.75  25.00  11.00  22.00

[254 rows x 5 columns]
          Date   Open   High    Low  Close
204 2020-05-13  -5.00  -5.00  -5.50  -5.25
205 2020-05-14  -5.00  -5.00  -5.75  -5.25
206 2020-05-15  -5.25  -5.25  -5.50  -5.25
207 2020-05-18  -5.25  -5.00  -5.50  -5.25
208 2020-05-19  -5.00  -4.50  -5.25  -5.00
..         ...    ...    ...    ...    ...
452 2021-05-07  41.00  42.00  37.00  40.75
453 2021-05-10  41.00  42.75  35.00  35.00
454 2021-05-11  38.25  42.00  33.00  37.25
455 2021-05-12  37.25  42.75  37.25  42.75
456 2021-05-13  41.50  54.25  37.00  53.00

[253 rows x 5 columns]
          Date  Open  High   Low  Close
186 2019-05-14 -7.50 -6.25 -7.50  -6.50
187 2019-05-15 -6.75 -5.25 -6.75  -6.00
188 2019-05-16 -6.25 -5.00 -6.25  -5.25
189 2019-05-17 -5.00 -4.50 -5.50  -4.75
190 2019-05-20 -4.75 -4.00 -5.00  -4.25
..         ...   ...   ...   ...    ...
434 2020-05-07 -3.00 -1.50 -4.75  -2.50
435 2020-05-08 -1.75  1.75 -1.75  -0.25
436 2020-05-11  0.00  1.00 -1.00  -0.25
437 2020-05-12  0.00  2.00 -2.75   2.00
438 2020-05-13  2.25  3.00  0.50   2.75

[253 rows x 5 columns]
          Date  Open  High   Low  Close
175 2018-05-14 -4.00 -3.75 -4.25  -3.75
176 2018-05-15 -4.00 -3.75 -4.00  -3.75
177 2018-05-16 -3.75 -3.50 -4.50  -4.00
178 2018-05-17 -4.00 -4.00 -4.25  -4.25
179 2018-05-18 -4.00 -4.00 -4.25  -4.00
..         ...   ...   ...   ...    ...
422 2019-05-07 -8.25 -8.00 -8.75  -8.25
423 2019-05-08 -8.50 -8.50 -9.25  -9.25
424 2019-05-09 -8.75 -8.75 -9.50  -8.75
425 2019-05-10 -8.50 -8.50 -9.50  -9.25
426 2019-05-13 -9.25 -8.75 -9.25  -8.75

[252 rows x 5 columns]
          Date  Open  High   Low  Close
160 2017-05-11 -5.25 -5.25 -5.75  -5.75
161 2017-05-12 -5.50 -5.50 -5.50  -5.50
162 2017-05-15 -5.25 -5.25 -5.50  -5.25
163 2017-05-16 -5.25 -5.25 -5.50  -5.25
164 2017-05-17 -5.25 -4.50 -5.25  -4.50
..         ...   ...   ...   ...    ...
407 2018-05-07 -7.50 -7.00 -7.75  -7.50
408 2018-05-08 -8.00 -7.75 -8.50  -7.75
409 2018-05-09 -7.50 -7.50 -8.00  -7.50
410 2018-05-10 -7.50 -7.00 -8.00  -7.25
411 2018-05-11 -7.00 -6.25 -7.25  -6.25

[252 rows x 5 columns]
          Date  Open  High   Low  Close
92  2016-05-11 -4.75 -4.25 -5.00  -4.25
93  2016-05-12 -4.25 -3.75 -4.25  -4.00
94  2016-05-13 -4.00 -4.00 -4.50  -4.00
95  2016-05-16 -4.00 -3.75 -4.25  -3.75
96  2016-05-17 -3.75 -3.50 -4.00  -3.75
..         ...   ...   ...   ...    ...
340 2017-05-05 -8.25 -8.00 -9.25  -9.25
341 2017-05-08 -9.00 -9.00 -9.75  -9.25
342 2017-05-09 -9.00 -8.25 -9.00  -8.50
343 2017-05-10 -8.50 -8.25 -9.25  -9.25
344 2017-05-11 -9.00 -8.50 -9.00  -9.00

[253 rows x 5 columns]
          Date  Open  High   Low  Close
20  2015-05-13 -6.50 -6.00 -6.50  -6.50
21  2015-05-14 -6.25 -6.00 -6.25  -6.25
22  2015-05-15 -6.25 -6.00 -6.25  -6.00
23  2015-05-18 -6.25 -5.75 -6.25  -6.25
24  2015-05-19 -6.00 -6.00 -6.50  -6.25
..         ...   ...   ...   ...    ...
230 2016-05-06 -2.00 -1.25 -2.50  -1.50
231 2016-05-09 -1.25 -0.75 -1.50  -1.25
232 2016-05-10 -1.25 -0.75 -2.50  -2.50
233 2016-05-11 -2.25 -2.00 -4.25  -3.50
234 2016-05-12 -3.50 -3.00 -6.75  -5.25

[215 rows x 5 columns]