In [1]:
import pandas as pd
import numpy as np
import os 
import plotly.express as px
from datetime import timedelta
import openpyxl

In [2]:
# Convert excel sheets to csv
excel_file = '/workspaces/Futures-First/Prediction/LSTM/data/Copper/Copper Data.xlsx'

# Read all sheet names
sheets = pd.read_excel(excel_file, sheet_name=None)

# Loop through each sheet and save as CSV
for sheet_name, data in sheets.items():
    # Define the name of the CSV file
    csv_file = f'/workspaces/Futures-First/Prediction/LSTM/data/Copper/data/{sheet_name}.csv'
    
    # Save the sheet to a CSV file
    data.to_csv(csv_file, index=False)

In [ ]:
df = pd.read_csv('/workspaces/Futures-First/Prediction/LSTM/data/Copper/data/Nov-Dec.csv')
# df = pd.read_excel('/workspaces/Futures-First/Prediction/data/ZC May-Jul/ZC May-Jul.xlsx')
df

In [65]:
x = '/workspaces/Futures-First/Prediction/LSTM/data/Copper/HG Nov-Dec'

In [67]:
temp = df.iloc[:,0:5].dropna()
temp.columns = ['Date', 'Open','High','Low','Close']
temp.to_csv(x+'/2024.csv',index=False)

In [ ]:
ls = ['2023','2022','2021','2020','2019','2018','2017','2016']
j = 6
for i in ls:
    
    temp = df.iloc[:,j:j+5].dropna()
    j = j+6
    temp.columns = ['Date', 'Open','High','Low','Close']

    # Convert the 'Date' column to datetime format
    temp['Date'] = pd.to_datetime(temp['Date'])
    
    # Find the last date in the temp DataFrame
    last_date = temp['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    temp = temp[temp['Date'] >= one_year_ago]

    temp.to_csv(x+'/'+i+'.csv',index=False)
    print(temp)

In [2]:
import pandas as pd
import numpy as np
import os 
from datetime import timedelta

second_selected_folder = '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar'
files = []
for file_name in os.listdir(second_selected_folder):
    if os.path.isfile(os.path.join(second_selected_folder, file_name)):
        # print(file_name)
        files.append(second_selected_folder +'/' +file_name)
files.sort()

print(files)

for i in files:
    df = pd.read_csv(i)
    df = df.iloc[:,:5]
    df.columns = ['Date', 'Open','High','Low','Close']
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date', ascending=True)
    last_date = df['Date'].max()
    
    # Calculate the date one year before the last date
    one_year_ago = last_date - timedelta(days=365)
    
    # Filter the data to only include the last one year
    df = df[df['Date'] >= one_year_ago]

    df.to_csv(i,index=False)

['/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2015.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2016.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2017.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2018.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2019.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2020.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2021.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2022.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2023.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2024.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/2025.csv', '/workspaces/Futures-First/Prediction/data/SoyBean/ZS Jan-Mar/ZS Jan25-Mar25 Calendar_Daily.csv']

In [5]:
df.iloc[:,:4]

   Timestamp (UTC)   Open   High    Low
0       2015-04-15 -1.500 -1.225 -1.525
1       2015-04-16 -1.425 -1.300 -1.575
2       2015-04-17 -1.400 -1.400 -1.825
3       2015-04-20 -1.725 -1.625 -2.175
4       2015-04-21 -2.125 -2.000 -2.325
..             ...    ...    ...    ...
62      2015-08-17  1.650  1.650  0.125
63      2015-08-18  0.550  0.700 -0.475
64      2015-08-19 -0.025  0.300 -0.625
65      2015-08-20  0.100  0.800 -0.100
66      2015-08-21  0.500  1.900  0.200

[67 rows x 4 columns]