In [2]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from bs4 import BeautifulSoup
import time

In [3]:
links = ['https://www.cmegroup.com/markets/agriculture/oilseeds/soybean.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-meal.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-oil.volume.html','https://www.cmegroup.com/markets/agriculture/grains/corn.volume.html','https://www.cmegroup.com/markets/agriculture/grains/wheat.volume.html','https://www.cmegroup.com/markets/agriculture/grains/kc-wheat.volume.html']
products = ['Soybean','Soymeal','Soyoil','Corn','SRW','HRW']
x = 5

In [319]:

# # Set options for Microsoft Edge
# options = Options()
# options.use_chromium = True  # Use this option if using Edge Chromium

# # Specify the path to the WebDriver executable
# webdriver_path = r"C:\Users\anmol.chopra\Downloads\edgedriver_win64 (1)\msedgedriver.exe"

# # Initialize the WebDriver
# service = Service(webdriver_path)
# driver = webdriver.Edge(service=service, options=options)

# # Open a particular website
# url = links[x]
# driver.get(url)

# time.sleep(10)

# html_source = driver.page_source

# soup = BeautifulSoup(html_source, 'html.parser')

# # Locate all tables
# tables = soup.find_all('div', {'class': 'main-table-wrapper'})


# # Check if there are enough tables
# if len(tables) > 1:
#     table = tables[1].find('table')  # Select the second table
# else:
#     raise ValueError("The second table is not found on the page.")


# label_element = driver.find_element(By.XPATH, '//label[text()="Trade Date"]')

# # Find the adjacent sibling element containing the date
# date_element = label_element.find_element(By.XPATH, './following-sibling::div//span[@class="button-text"]')

# # Extract the date text from the element
# date_text = date_element.text

# # Extract table headers
# headers = []
# header_rows = table.find_all('thead')
# for header_row in header_rows:
#     cols = header_row.find_all('th')
#     for col in cols:
#         colspan = int(col.get('colspan', 1))
#         headers.extend([col.get_text(separator=' ').strip()] * colspan)

# # Extract table rows
# rows = []
# for row in table.find_all('tbody')[0].find_all('tr'):
#     cols = row.find_all('td')
#     if len(cols) > 0:
#         cols = [ele.get_text().strip() for ele in cols]
#         rows.append(cols)

# # Create DataFrame
# df = pd.DataFrame(rows, columns=headers[:len(rows[0])])

# # Print DataFrame
# print(df)

# driver.quit()

In [28]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd
from bs4 import BeautifulSoup

# Set options for Microsoft Edge
options = Options()
options.use_chromium = True  # Use this option if using Edge Chromium

# Specify the path to the WebDriver executable
webdriver_path = r"C:\Users\anmol.chopra\Downloads\edgedriver_win64 (1)\msedgedriver.exe"

# Initialize the WebDriver
service = Service(webdriver_path)
driver = webdriver.Edge(service=service, options=options)

# Open a particular website
url = links[x]
driver.get(url)

time.sleep(15)

html_source = driver.page_source

soup = BeautifulSoup(html_source, 'html.parser')

# Locate all tables
tables = soup.find_all('div', {'class': 'main-table-wrapper'})

# Check if there are enough tables
if len(tables) > 1:
    table1 = tables[0].find('table')  # Select the first table
    table2 = tables[1].find('table')  # Select the second table
else:
    raise ValueError("Not enough tables found on the page.")


td_elements = table1.find_all('td')

# Extract the text from each <td> element and remove commas
values = [int(td.get_text().replace(',', '')) for td in td_elements]

print(values)

# Extract table headers
headers = []
header_rows = table2.find_all('thead')
for header_row in header_rows:
    cols = header_row.find_all('th')
    for col in cols:
        colspan = int(col.get('colspan', 1))
        headers.extend([col.get_text(separator=' ').strip()] * colspan)

# Extract table rows
rows = []
for row in table2.find_all('tbody')[0].find_all('tr'):
    cols = row.find_all('td')
    if len(cols) > 0:
        cols = [ele.get_text().strip() for ele in cols]
        rows.append(cols)

# Create DataFrame
df = pd.DataFrame(rows, columns=headers[:len(rows[0])])

# Print DataFrame
print(df)

# Extract Trade Date
label_element = driver.find_element(By.XPATH, '//label[text()="Trade Date"]')

# Find the adjacent sibling element containing the date
date_element = label_element.find_element(By.XPATH, './following-sibling::div//span[@class="button-text"]')

# Extract the date text from the element
date_text = date_element.text
print("\nTrade Date:", date_text)

driver.quit()

[96462, 0, 1800, 98262, 0, 862, 2, 10771, 0, 257659, -5181]
      Month  Volume Volume Volume  Volume Volume Volume Volume Volume  \
0  SEP 2024  37,601      0  1,252  38,853      0    782      2  5,055
1  DEC 2024  37,512      0     65  37,577      0     65      0  4,721
2  MAR 2025  15,228      0    483  15,711      0     15      0    846
3  MAY 2025   4,346      0      0   4,346      0      0      0    149
4  JUL 2025   1,634      0      0   1,634      0      0      0      0
5  SEP 2025      86      0      0      86      0      0      0      0
6  DEC 2025      55      0      0      55      0      0      0      0
7  MAR 2026       0      0      0       0      0      0      0      0
8  MAY 2026       0      0      0       0      0      0      0      0
9  JUL 2026       0      0      0       0      0      0      0      0

  Deliveries Open Interest Open Interest
0          0       105,705        -9,624
1          0        97,948        +1,141
2          0        36,436        +2,540
3          0         8,190          +392
4          0         8,375          +339
5          0           646           +18
6          0           312           +13
7          0            20             0
8          0             3             0
9          0            24             0

Trade Date: Thursday, 08 Aug 2024

In [27]:
# df = pd.DataFrame(rows, columns=headers[:len(rows[0])])
# df = df[['Month','Open Interest']]
# df.columns = ['Month','OI','Open Interest']
# df = df.drop(columns='OI')
# df

In [31]:
df = pd.DataFrame(rows, columns=headers[:len(rows[0])])
df = df[['Month','Open Interest']]
df.columns = ['Month','OI','Open Interest']
df = df.drop(columns='OI')
df['Open Interest'] = df['Open Interest'].str.replace(',', '').astype(int)
df['Open Interest'] = df['Open Interest'].astype(int)
df_new = df.T
    # df_new = df_new.astype(str)
df_new.columns = df_new.iloc[0]
df_new = df_new.drop(df_new.index[0])
df_new.insert(0,'Date',date_text.split(', ')[1] )
df_new.iloc[:,1:] = df_new.iloc[:,1:].apply(pd.to_numeric, errors='coerce')
df_new

Month,Date,SEP 2024,DEC 2024,MAR 2025,MAY 2025,JUL 2025,SEP 2025,DEC 2025,MAR 2026,MAY 2026,JUL 2026
Open Interest,08 Aug 2024,-9624,1141,2540,392,339,18,13,0,0,0

In [32]:
# df_new = df.T
# df_new = df_new.astype(str)
# df_new.columns = df_new.iloc[0]
# df_new = df_new.drop(df_new.index[0])
# df_new.insert(0,'Date',date_text.split(', ')[1] )
# # df_new.to_excel('OI Data.xlsx',index=False)
# # df_new.to_csv('OI Data.csv',index=False)

# df_new

In [323]:
df_new['Market Open Interest'] = values[-2]
df_new['Change in OI'] = values[-1]

In [324]:
values[-2:]

[257170, 3952]

In [325]:
temp_df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv')
main_df = pd.concat([df_new,temp_df2], ignore_index=True)

# Save the updated DataFrame to a CSV file
main_df.to_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv', index=False)
# df_new.to_csv('OI Data-'+products[x]+'.csv',index=False)

In [17]:
import pandas as pd
from openpyxl import Workbook,load_workbook


df1 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Corn.csv')
df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-HRW.csv')
df3 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soybean.csv')
df4 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soymeal.csv')
df5 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soyoil.csv')
df6 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-SRW.csv')

file_path = r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data.xlsx'

# file_path = r'C:\Users\anmol.chopra\OneDrive - hertshtengroup.com\OI Data (1).xlsx'
# wb = Workbook()

# # wb.save(file_path)
# wb = load_workbook(file_path)


# # Save dataframes to different sheets in the cleared Excel file
# with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
#     writer.book = wb
#     df1.to_excel(writer, sheet_name='Corn', index=False)
#     df2.to_excel(writer, sheet_name='HRW', index=False)
#     df3.to_excel(writer, sheet_name='Soybean', index=False)
#     df4.to_excel(writer, sheet_name='Soymeal', index=False)
#     df5.to_excel(writer, sheet_name='Soyoil', index=False)
#     df6.to_excel(writer, sheet_name='SRW', index=False)

# wb = load_workbook(file_path)

# Save dataframes to different sheets in the existing Excel file
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    df1.to_excel(writer, sheet_name='Corn', index=False)
    df2.to_excel(writer, sheet_name='HRW', index=False)
    df3.to_excel(writer, sheet_name='Soybean', index=False)
    df4.to_excel(writer, sheet_name='Soymeal', index=False)
    df5.to_excel(writer, sheet_name='Soyoil', index=False)
    df6.to_excel(writer, sheet_name='SRW', index=False)

# Save the workbook after modifications
# wb.save(file_path)

In [70]:
links = ['https://live.euronext.com/en/product/commodities-futures/EBM-DPAR','https://live.euronext.com/en/product/commodities-futures/ECO-DPAR']
products = ['yEBM','yECO']
x = 0

In [5]:
# for EUROnext 
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By
import time
import pandas as pd
from bs4 import BeautifulSoup

# Set options for Microsoft Edge
options = Options()
options.use_chromium = True  # Use this option if using Edge Chromium

# Specify the path to the WebDriver executable
webdriver_path = r"C:\Users\anmol.chopra\Downloads\edgedriver_win64 (1)\msedgedriver.exe"

# Initialize the WebDriver
service = Service(webdriver_path)
driver = webdriver.Edge(service=service, options=options)

# Open a particular website
url = links[x]
driver.get(url)

time.sleep(15)

html_source = driver.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', {'id': 'future-prices-table'})

# Extracting table headers
headers = []
for th in table.find_all('th'):
    headers.append(th.get_text(strip=True))

# Extracting table rows
rows = []
for tr in table.find('tbody').find_all('tr'):
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

# Creating DataFrame
# df = pd.DataFrame(rows, columns=headers)

# Displaying the DataFrame
# print(df)
driver.quit()

WebDriverException: Message: 'msedgedriver.exe' executable may have wrong permissions.

In [72]:
df = pd.DataFrame(rows, columns=headers)

In [73]:
date_element = soup.find('h3', class_='text-white mb-4 mb-lg-0')

# Extracting the text and splitting to get the date
date_text = date_element.get_text(strip=True)
date = date_text.split('Prices - ')[1]

# Displaying the extracted date
print(f"Extracted Date: {date}")

Extracted Date: 9 Aug 2024

In [74]:
df = df[['Delivery','O.I']]
df['O.I'] = df['O.I'].str.replace(',', '').astype(int)

df_new = df.T
df_new = df_new.astype(str)
df_new.columns = df_new.iloc[0]
df_new = df_new.drop(df_new.index[0])
df_new.insert(0,'Date',date)
df_new['Total OI'] = df['O.I'].sum()
# df_new.to_csv('temp.csv')
df_new

Delivery,Date,Sep 24,Dec 24,Mar 25,May 25,Sep 25,Dec 25,Mar 26,May 26,Sep 26,Dec 26,Mar 27,May 27,Total OI
O.I,9 Aug 2024,108338,227626,76398,43996,12822,10687,232,18,4,5,0,0,480126

In [75]:
temp_df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv')
main_df = pd.concat([df_new,temp_df2], ignore_index=True)
# main_df.drop_duplicates(subset='Date', keep='last', inplace=True)
# Save the updated DataFrame to a CSV file
main_df.to_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv', index=False)

In [65]:
main_df.to_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv', index=False)

In [76]:
main_df.drop_duplicates(subset='Date', keep='first', inplace=True)

main_df

,Date,Sep 24,Dec 24,Mar 25,May 25,Sep 25,Dec 25,Mar 26,May 26,Sep 26,Dec 26,Mar 27,May 27,Total OI
0,9 Aug 2024,108338,227626,76398,43996,12822,10687,232,18,4,5,0,0,480126
2,8 Aug 2024,119659,222567,75509,44070,12423,10366,232,18,4,5,0,0,484853
3,7 Aug 2024,119659,222567,75509,44070,12423,10366,232,18,4,5,0,0,484853
4,6 Aug 2024,124847,216838,76086,43450,11698,10085,232,18,4,5,0,0,483263
5,5 Aug 2024,126370,210521,76214,43416,11380,9764,232,18,4,5,0,0,477924
6,2 Aug 2024,126370,210521,76214,43416,10649,8819,232,18,4,5,0,0,472712

In [77]:
def transform_headers(headers):
    new_headers = []
    for header in headers:
        if header != 'Date' and header != 'Total OI':
            # Split by space and add '20' before the year
            parts = header.split()
            if len(parts) == 2:  # Format is Month Year
                month, year = parts
                new_year = '20' + year
                new_header = f"{month} {new_year}"
                new_headers.append(new_header)
        else:
            new_headers.append(header)
    return new_headers

# Apply transformation
main_df.columns = transform_headers(main_df.columns)

In [78]:
main_df

,Date,Sep 2024,Dec 2024,Mar 2025,May 2025,Sep 2025,Dec 2025,Mar 2026,May 2026,Sep 2026,Dec 2026,Mar 2027,May 2027,Total OI
0,9 Aug 2024,108338,227626,76398,43996,12822,10687,232,18,4,5,0,0,480126
2,8 Aug 2024,119659,222567,75509,44070,12423,10366,232,18,4,5,0,0,484853
3,7 Aug 2024,119659,222567,75509,44070,12423,10366,232,18,4,5,0,0,484853
4,6 Aug 2024,124847,216838,76086,43450,11698,10085,232,18,4,5,0,0,483263
5,5 Aug 2024,126370,210521,76214,43416,11380,9764,232,18,4,5,0,0,477924
6,2 Aug 2024,126370,210521,76214,43416,10649,8819,232,18,4,5,0,0,472712

In [69]:
temp_df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[x]+'.csv')

# temp_df2 = temp_df2.iloc[:-1]
temp_df2

,Date,Nov 24,Feb 25,May 25,Aug 25,Nov 25,Feb 26,May 26,Aug 26,Nov 26,Feb 27,Total OI
0,9 Aug 2024,66043,30118,9637,2257,43,23,0,0,0,0,108121
1,8 Aug 2024,66043,30118,9637,2257,43,23,0,0,0,0,108121
2,7 Aug 2024,66388,29378,9621,2196,43,23,0,0,0,0,107649
3,6 Aug 2024,65507,28350,9354,2396,38,20,0,0,0,0,105665
4,5 Aug 2024,66152,27834,9530,2158,38,20,0,0,0,0,105732

In [ ]:
data = temp_df2.iloc[:,1:-1]
# data

In [ ]:
data = temp_df2.iloc[:,1:-1]
for i in range(len(data) - 1):
    data.iloc[i] = data.iloc[i] - data.iloc[i+1]
    
data

In [42]:
temp_df2.iloc[:,1:-1] = data
temp_df2

,Date,Nov 24,Feb 25,May 25,Aug 25,Nov 25,Feb 26,May 26,Aug 26,Nov 26,Feb 27,Total OI
0,9 Aug 2024,-66043,-30118,-9637,-2257,-43,-23,0,0,0,0,0
1,8 Aug 2024,-345,740,16,61,0,0,0,0,0,0,108121
2,7 Aug 2024,881,1028,267,-200,5,3,0,0,0,0,107649
3,6 Aug 2024,-645,516,-176,238,0,0,0,0,0,0,105665
4,5 Aug 2024,66152,27834,9530,2158,38,20,0,0,0,0,105732

In [1]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By
import pandas as pd
from bs4 import BeautifulSoup
from openpyxl import Workbook,load_workbook
import time

In [2]:
def Get_data(url):  
    # Set options for Microsoft Edge
    options = Options()
    options.use_chromium = True  # Use this option if using Edge Chromium

    # Specify the path to the WebDriver executable
    webdriver_path = r"C:\Users\anmol.chopra\Downloads\edgedriver_win64 (1)\msedgedriver.exe"

    # Initialize the WebDriver
    service = Service(webdriver_path)
    driver = webdriver.Edge(service=service, options=options)

    # Open a particular website
    # url = 'https://www.cmegroup.com/markets/agriculture/oilseeds/soybean.volume.html'
    driver.get(url)

    time.sleep(10)
    html_source = driver.page_source

    soup = BeautifulSoup(html_source, 'html.parser')

    # Locate all tables
    tables = soup.find_all('div', {'class': 'main-table-wrapper'})

    # Check if there are enough tables
    if len(tables) > 1:
        table1 = tables[0].find('table')  # Select the first table
        table2 = tables[1].find('table')  # Select the second table
    else:
        raise ValueError("Not enough tables found on the page.")


    td_elements = table1.find_all('td')

    # Extract the text from each <td> element and remove commas
    values = [int(td.get_text().replace(',', '')) for td in td_elements]

    label_element = driver.find_element(By.XPATH, '//label[text()="Trade Date"]')

    # Find the adjacent sibling element containing the date
    date_element = label_element.find_element(By.XPATH, './following-sibling::div//span[@class="button-text"]')

    # Extract the date text from the element
    date_text = date_element.text

    # Extract table headers
    headers = []
    header_rows = table2.find_all('thead')
    for header_row in header_rows:
        cols = header_row.find_all('th')
        for col in cols:
            colspan = int(col.get('colspan', 1))
            headers.extend([col.get_text(separator=' ').strip()] * colspan)

    # Extract table rows
    rows = []
    for row in table2.find_all('tbody')[0].find_all('tr'):
        cols = row.find_all('td')
        if len(cols) > 0:
            cols = [ele.get_text().strip() for ele in cols]
            rows.append(cols)

    # Create DataFrame
    df = pd.DataFrame(rows, columns=headers[:len(rows[0])])
    driver.quit()

    return df,date_text,values[-2:]

def data_transform(df,date_text):
    df = df[['Month','Open Interest']]
    df.columns = ['Month','OI','Open Interest']
    df = df.drop(columns='OI')
    df['Open Interest'] = df['Open Interest'].str.replace(',', '')
    df_new = df.T
    # df_new = df_new.astype(str)
    df_new.columns = df_new.iloc[0]
    df_new = df_new.drop(df_new.index[0])
    
    df_new.insert(0,'Date',date_text.split(', ')[1] )
    return df_new

def cme_update():
        
    links = ['https://www.cmegroup.com/markets/agriculture/oilseeds/soybean.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-meal.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-oil.volume.html','https://www.cmegroup.com/markets/agriculture/grains/corn.volume.html','https://www.cmegroup.com/markets/agriculture/grains/wheat.volume.html','https://www.cmegroup.com/markets/agriculture/grains/kc-wheat.volume.html']
    products = ['Soybean','Soymeal','Soyoil','Corn','SRW','HRW']
    for i in range(0,6):
        df,date_text,values = Get_data(links[i])
        temp_df1 = data_transform(df,date_text)
        temp_df1['Market Open Interest'] = values[0]
        temp_df1['Change in OI'] = values[1]
        # temp_df1.to_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\code\OI\OI Data-'+products[i]+'.csv', index=False)

        temp_df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[i]+'.csv')
        main_df = pd.concat([temp_df1,temp_df2], ignore_index=True)
        # main_df.iloc[:, 1:] = main_df.iloc[:, 1:].astype(int)
        main_df = main_df.iloc[:,1:].apply(pd.to_numeric, errors='coerce')

        # Save the updated DataFrame to a CSV file
        main_df.to_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[i]+'.csv', index=False)



    df1 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Corn.csv')
    df1.drop_duplicates(subset='Date', keep='first', inplace=True)
    df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-HRW.csv')
    df2.drop_duplicates(subset='Date', keep='first', inplace=True)
    df3 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soybean.csv')
    df3.drop_duplicates(subset='Date', keep='first', inplace=True)
    df4 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soymeal.csv')
    df4.drop_duplicates(subset='Date', keep='first', inplace=True)
    df5 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-Soyoil.csv')
    df5.drop_duplicates(subset='Date', keep='first', inplace=True)
    df6 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-SRW.csv')
    df6.drop_duplicates(subset='Date', keep='first', inplace=True)

    file_path = r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data.xlsx'

    # Save dataframes to different sheets in the existing Excel file
    with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
        df1.to_excel(writer, sheet_name='Corn', index=False)
        df2.to_excel(writer, sheet_name='HRW', index=False)
        df3.to_excel(writer, sheet_name='Soybean', index=False)
        df4.to_excel(writer, sheet_name='Soymeal', index=False)
        df5.to_excel(writer, sheet_name='Soyoil', index=False)
        df6.to_excel(writer, sheet_name='SRW', index=False)

In [3]:
links = ['https://www.cmegroup.com/markets/agriculture/oilseeds/soybean.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-meal.volume.html','https://www.cmegroup.com/markets/agriculture/oilseeds/soybean-oil.volume.html','https://www.cmegroup.com/markets/agriculture/grains/corn.volume.html','https://www.cmegroup.com/markets/agriculture/grains/wheat.volume.html','https://www.cmegroup.com/markets/agriculture/grains/kc-wheat.volume.html']
products = ['Soybean','Soymeal','Soyoil','Corn','SRW','HRW']

df,date_text,values = Get_data(links[0])
temp_df1 = data_transform(df,date_text)
temp_df1['Market Open Interest'] = values[0]
temp_df1['Change in OI'] = values[1]
# temp_df1.iloc[:,1:] = temp_df1.iloc[:,1:].apply(pd.to_numeric, errors='coerce')
temp_df1.iloc[:,1:] = temp_df1.iloc[:,1:].astype(int)
temp_df1

Month,Date,AUG 2024,SEP 2024,NOV 2024,JAN 2025,MAR 2025,MAY 2025,JUL 2025,AUG 2025,SEP 2025,NOV 2025,JAN 2026,MAR 2026,Market Open Interest,Change in OI
Open Interest,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107

In [11]:
temp_df1.dtypes

Month
Date                    object
AUG 2024                object
SEP 2024                object
NOV 2024                object
JAN 2025                object
MAR 2025                object
MAY 2025                object
JUL 2025                object
AUG 2025                object
SEP 2025                object
NOV 2025                object
JAN 2026                object
MAR 2026                object
Market Open Interest     int64
Change in OI             int64
dtype: object

In [12]:
temp_df2 = pd.read_csv(r'\\corp.hertshtengroup.com\Users\India\Data\anmol.chopra\Documents\FF Codes\Futures-First\OI\OI Data-'+products[0]+'.csv')
main_df = pd.concat([temp_df1,temp_df2], ignore_index=True)
main_df

,Date,AUG 2024,SEP 2024,NOV 2024,JAN 2025,MAR 2025,MAY 2025,JUL 2025,AUG 2025,SEP 2025,NOV 2025,JAN 2026,MAR 2026,Market Open Interest,Change in OI
0,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107
1,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107
2,08 Aug 2024,-92,"-1,806","+1,166","+1,408","+1,086",+502,+310,60,61,386,24,0,792635,3107
3,07 Aug 2024,-61,-919,-983,"+2,251","+1,135",434,+733,65,-3,44,1,-1,789528,2696
4,06 Aug 2024,-550,-96,"-2,229",-81,34,500,"+1,263",-6,34,96,-1,0,786832,-1034
5,05 Aug 2024,-48,-291,"-9,384",+5,"-1,755","+1,358","+1,587",2,72,-107,-10,0,787866,-8567
6,02 Aug 2024,-296,483,"-3,658","-1,506",+584,"+1,359","+1,969",31,-6,164,6,0,796433,-869
7,01 Aug 2024,-667,"+1,618","+1,842","+1,505",-69,+420,"+1,241",7,6,-143,-3,1,797302,5793

In [18]:
main_df = main_df.astype(str).replace(',', '', regex=True)

# Convert all columns except the first one to integers
main_df.iloc[:, 1:] = main_df.iloc[:, 1:].astype(int)

# Check the data types of the columns
main_df

,Date,AUG 2024,SEP 2024,NOV 2024,JAN 2025,MAR 2025,MAY 2025,JUL 2025,AUG 2025,SEP 2025,NOV 2025,JAN 2026,MAR 2026,Market Open Interest,Change in OI
0,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107
1,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107
2,08 Aug 2024,-92,-1806,1166,1408,1086,502,310,60,61,386,24,0,792635,3107
3,07 Aug 2024,-61,-919,-983,2251,1135,434,733,65,-3,44,1,-1,789528,2696
4,06 Aug 2024,-550,-96,-2229,-81,34,500,1263,-6,34,96,-1,0,786832,-1034
5,05 Aug 2024,-48,-291,-9384,5,-1755,1358,1587,2,72,-107,-10,0,787866,-8567
6,02 Aug 2024,-296,483,-3658,-1506,584,1359,1969,31,-6,164,6,0,796433,-869
7,01 Aug 2024,-667,1618,1842,1505,-69,420,1241,7,6,-143,-3,1,797302,5793